<div id="port-to-port">
    <div class="steps" >
      <ul class="steps-list">
  
        <!-- Origin -->
        <li class="steps-list-item">
          <div layout="row" class="steps-list-item-timeline ship-icon-top" >
            <img src="assets/ship-fill.svg" class="ship-icon" />
          </div>
          <span class="hrLine"></span>
          <div class="li-div">
            <div class="port-text"> 
                 <span >
                 INNSA | Port of Delhi
                 </span>
            </div> 
  
          </div>
        </li>
  
        <!-- Destination -->
        <li class="steps-list-item" >
          <span class="hrLine"></span>
          <div class="li-div">
            <div class="port-text"> 
              <span >
                INMAA | Port of Chennai
              </span>
            </div> 
          </div>
        </li>
  
      </ul>
    </div>
  </div>
  
  